
<div class="starter-template">
  <h1> Money Allocation Plan</h1>
  <p class="lead">
  Welcome to the Money Allocation Plan (MAP) System.
  </p>
  <p>
  This is a budgetting system like no other and is based on the <br/>
  works of Ethan Pope who wrote the companion book "The Money Allocation Plan"<br/>
  Use this document as a way to quickly start any new project.<br>
  All you get is this text and a mostly barebones HTML document.
  </p>

</div>
